
{% load static %}


<header class="header">
  <a href="/" class="logo"><img class="logo" style="max-height: 50px;" src="{% static 'images/logo.png' %}" alt="Logo"></a>
 
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    {% if user.is_authenticated %}
      <li><a class="home-header" data-scroll-nav="0" href="{% url 'order' %}">Захиалга</a></li>
      <li><a class="home-header" data-scroll-nav="0" href="{% url 'list' %}">Жагсаалт</a></li>
      <li><a class="home-header" data-scroll-nav="0" href="{% url 'profile' %}">Профайл</a></li>
      <li><a class="home-header" data-scroll-nav="0" href="{% url 'logout' %}">Гарах</a></li>
    {% else %}
      <li><a class="home-header" data-scroll-nav="0" id="#home" href="#home">Нүүр</a></li>
      <li><a class="home-header" data-scroll-nav="0" id="#service" href="#service">Захиалга</a></li>
      <li><a class="home-header" data-scroll-nav="0" id="#product" href="#product" >Тусламж</a></li>
      <li><a class="home-header" data-scroll-nav="0" id="#contact" href="#contact">Холбоо барих</a></li>      
      <li><a class="home-header" data-scroll-nav="0" href="{% url 'about' %}">Бидний тухай</a></li>      
      <li><a class="home-header" data-scroll-nav="0" href="{% url 'terms' %}">Үйлчилгээний нөхцөл</a></li>      
      <li><a class="home-header" data-scroll-nav="0" href="{% url 'login' %}">Нэврэх</a></li>
    {% endif %}
  </ul>
</header>


<!-- 
<header  class="header" id="myHeader" style="z-index: 1000;">
  <nav id='pn_menu' style=" position: fixed;top: 0;width: 100%; height: 55px; padding: 3px;">
    <div class="row" style="justify-content: space-between;  padding-left: 5px;padding-right: 5px;">
      <div> 
        <a class="navbar-brand" style="padding: 0%;" href="/">
          <img class="logo" style=" max-width: 100%; max-height: 100%;" src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
      </div>
      <div id="head-mobile"></div>
      <div class="button" id="dropdownButton"></div>
      <ul class="main_menu" style="background-color: #fff;">
        {% if user.is_authenticated %}
          <li><a class="aTag home-header" data-scroll-nav="0" href="{% url 'order' %}">Захиалга</a></li>
          <li><a class="aTag home-header" data-scroll-nav="0" href="{% url 'list' %}">Жагсаалт</a></li>
          <li><a class="aTag home-header" data-scroll-nav="0" href="{% url 'profile' %}">Профайл</a></li>
          <li><a class="aTag home-header" data-scroll-nav="0" href="{% url 'logout' %}">Гарах</a></li>
        {% else %}
          <li><a class="aTag home-header" data-scroll-nav="0" class="home-header" id="#home" href="#home">Нүүр</a></li>
          <li><a class="aTag home-header" data-scroll-nav="0" class="home-header" id="#service" href="#service">Захиалга</a></li>
          <li><a class="aTag home-header" data-scroll-nav="0"class="home-header" id="#product" href="#product" >Тусламж</a></li>
          <li><a class="aTag home-header" data-scroll-nav="0" class="home-header" id="#contact" href="#contact">Холбоо барих</a></li>      
          <li><a class="aTag home-header" data-scroll-nav="0" href="{% url 'about' %}">Бидний тухай</a></li>      
          <li><a class="aTag home-header" data-scroll-nav="0" href="{% url 'terms' %}">Үйлчилгээний нөхцөл</a></li>      
          <li><a class="aTag home-header" data-scroll-nav="0" href="{% url 'login' %}">Нэврэх</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header> -->