
{% extends 'base/base.html' %}
{% load static %}
{% block title %} Zooming CLS {% endblock %}


{% block content %} 
<div class="row" style="margin: 0 auto;">
  <div class="col-12" style="padding:50px;">
    <section id="terms" class="discount-product pt-100">
      
        <div class="container">
          <div class="container searchContentIndex">

            <div class="page-header" style="margin: 0px 0 20px !important;">
              <h1>Бидний тухай</h1>
            </div>
 
              <div class="panel panel-default">
                <div class="panel-heading">БИДНИЙ АЛСЫН ХАРАА:</div>
                <div class="panel-body" style="line-height:22px;">
                    
                         Монголчуудынхаа хэрэглээний сэтгэлгээ, үйлчилгээний соёлыг шинэ түвшинд хүргэсэн, салбартаа тэргүүлэгч компани байх, хэрэглэгчиддээ бодит үнээр бараа бүтээгдэхүүн нийлүүлэх
                    
                </div>
              </div>
            
            
              <div class="panel panel-default">
                <div class="panel-heading">БИДНИЙ ҮНЭТ ЗҮЙЛС:</div>
                <div class="panel-body" style="line-height:22px;">
            
                <p>• Хэрэглэгч, харилцагчидаа дээдлэх </p>
                <p>• Үйлчилгээний жишиг стандартыг мөрдөх </p>
                <p>• Манлайлагч, бүтээлч, хамт олонч сэтгэлгээг хөгжүүлэх </p>
                <p>• Шударга зарчмыг баримтлах </p>
                
                </div>
              </div>
            
              <div class="panel panel-default">
                <div class="panel-heading">ТАНИЛЦУУЛГА:</div>
                <div class="panel-body" style="line-height:22px;">
                <p> Бид Монгол Улс - БНХАУ-ын хооронд гадаад худалдааны үйлчилгээ эрхэлдэг бөгөөд энэ салбартаа анхдагч юм. Бид дараах төрлийн үйлчилгээг хэрэглэгчиддээ хүргэж байна.</p>
                <p>•  БНХАУ-ын бүх мужуудад байрлалтай онлайн болон онлайн бус дэлгүүрүүдээс хэрэглэгчдийн хүссэн бүх төрлийн бараа бүтээгдэхүүний судалгаа, худалдан авалт, тээвэрлэлт, хүргэлт зэрэг хэрэглэгчийн гар дээр ирэх хүртэлх бүх шатны үйлчилгээг хариуцан гүйцэтгэдэг бөгөөд хувь хүн, аж ахуйн нэгжүүдээс гадна Монголын томоохон уул уурхай, барилгын компаниудтай хамтран ажиллаж байна.</p>
                <p>• Захиалгын үйлчилгээнээс гадна Монголчууд олноор суурьшсан БЭЭЖИН, ШАНХАЙ, ХӨХХОТ, ГУАНЖӨУ, ШЭНЖИНЬ зэрэг хотуудаас Монгол улс руу ачаа илгээмжийн үйлчилгээг үзүүлдэг бөгөөд илгээлтийн үйлчилгээний эрэлт, цар хүрээ өсөн нэмэгдсээр байна. </p>
                <p>• Түүнчлэн сэлбэг хэрэгсэл, уул уурхай, газар тариалан, үйлдвэрлэлийн тоног төхөөрөмжүүд зэрэг том оврын барааг захиалагчийн хүсэлтийн дагуу худалдан авалт, хадгалалт, гаалийн бүрдүүлэлт зэрэг үйлчилгээний эцсийн шат хүртэл хариуцан гүйцэтгэдэг.</p>
                <p>• БНХАУ-ын зах зээлд шинээр нэвтэрч буй дэвшилтэт техник технологи, бараа бүтээгдэхүүнийг хамгийн боломжийн үнээр санал болгож, дэлхийн хөгжилтэй хөл нийлүүлэх боломжийг хэрэглэгчиддээ олгож байна </p>
                
                </div>
              </div>
            
            
              <div class="panel panel-default">
                <div class="panel-heading">БИДНИЙ ҮНЭТ ЗҮЙЛС:</div>
                <div class="panel-body" style="line-height:22px;">
            
                <p>• Хэрэглэгч, харилцагчидаа дээдлэх </p>
                <p>• Үйлчилгээний жишиг стандартыг мөрдөх </p>
                <p>• Манлайлагч, бүтээлч, хамт олонч сэтгэлгээг хөгжүүлэх </p>
                <p>• Шударга зарчмыг баримтлах </p>
                
                </div>
              </div>
            
            
              <div class="panel panel-default">
                <div class="panel-heading">БИДНИЙ ТҮҮХ:</div>
                <div class="panel-body" style="line-height:22px;">
            
                <p> 2005 оноос Бээжин болон Эрээн хотоос монголчуудадаа мөнгөн гуйвуулга, бараа бүтээгдэхүүн зуучлан борлуулах, ачаа тээврийн үйлчилгээ үзүүлж үйл ажиллагаагаа эхлүүлсэн.</p>
                <p>Байгуулагдсан цагаас эхлэн үйл ажиллагааны цар хүрээ өргөжин тэлж, 2009 оноос албан ёсны хаяг бүхий ажлын байр, ачаа барааг стандартын дагуу хүлээж авч хадгалах агуулах, техникээр тоноглон, боловсон хүчнийг шийдэж өгснөөр Монгол дахь аж ахуйн нэгж, иргэдийн хэрэгцээт бараа материалыг төмөр зам, авто тээврээр Монгол руу тээвэрлэх, импортлох үйлчилгээг эрхлэх болсон.
            2010 онд Монгол Улсад анх удаа www.taobao-agent.mn онлайн захиалга авах вэб системийг ашиглалтанд оруулснаар захиалгат худалдаа, тээвэр, импортын хэрэглэгчдэд ойр шийдэл бүхий цогц үйлчилгээг нэвтрүүлэн ажиллаж эхэлсэн. </p>
                <p>Үйлчилгээний цар хүрээг тэлэх, чанаржуулан хялбаршуулах үүднээс 2014 онд www.taobao-agent.mn онлайн захиалгын вэб системийн шинэ хувилбарыг ашиглалтанд оруулан, БНСУ-н Сеүл болон Орхон аймаг Эрдэнэт хотод салбар захиалгын төвөө нээн олон улсын стандартад нийцсэн үйлчилгээг хэрэглэгч та бүхэндээ хүргэх зорилт тавин ажиллалаа.</p>
              
                
                </div>
              </div>
            
            
              
              <div class="panel panel-default">
                <div class="panel-heading">Бид бүтээгдэхүүн, үйлчилгээнийхээ чанар, хүртээмжийг сайжруулахаар ажиллаж байна:</div>
                  <div class="panel-body" style="line-height:22px;">
                    <p>• Шуурхай, боловсон үйлчилгээг хүргэх зорилгоор Хэрэглэгчдэд үйлчлэх төвийг байгууллаа.</p>
                    <p>• Тээвэрлэлттэй холбоотой мэдээллийг хэрэглэгчдэд тогтмол хүргэх, тээвэрлэлтийн шуурхай байдлыг хангах зорилгоор Ачаа шалгах боломж бүхий шийдэл, технологийг нэвтрүүллээ. </p>
                    <p>• Мандал даатгал компанитай хамтран, аливаа эрсдлээс сэргийлэх даатгалын үйлчилгээг нэвтрүүллээ.</p>
                    <p>• БНХАУ-д нэвтэрч буй шинэлэг технологи, шинэ бүтээгдэхүүнүүдийг хэрэглэгчдэд таниулах, цаг алдалгүй импортлохыг зорин ажиллаж байна </p>
                  </div>
                </div>
              </div>
        
            </div>
        </div>
    </section>
  </div>
</div>
{% endblock %}