
{% extends 'base/base.html' %}
{% load static %}
{% block title %} Zooming CLS {% endblock %}


{% block content %} 
<div class="row" style="margin: 0 auto;">
  <div class="col-12" style="padding:50px;">
    <section id="terms" class="discount-product pt-100">
        <div class="container">
          <div class="container searchContentIndex">
            <div class="page-header" style="margin: 0px 0 20px !important;">
              <h1>Бидний тухай</h1>
            </div>
            {% for a in about %}
              <div class="panel panel-default">
                <div class="panel-heading">{{a.title}}</div>
                <div class="panel-body" style="line-height:22px;">
                    {{a.body|safe|escape}}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </section>
  </div>
</div>
{% endblock %}