
{% extends 'base/base.html' %}
{% load static %}
{% block title %} Zooming CLS {% endblock %}


{% block content %} 
<div class="row" style="margin: 0 auto;">
  <div class="col-12" style="padding:50px;">
    <section id="terms" class="discount-product pt-100">
      
        <div class="container">
          <div class="container searchContentIndex">

            <div class="page-header" style="margin: 0px 0 20px !important;">
              <h1>Үйлчилгээний ерөнхий нөхцөл</h1>
            </div>
        
            <!-- <div class="alert alert-info mb-3">
              <p>Энэхүү үйлчилгээний нөхцөл нь <strong>ТАОБАО АГЕНТ</strong> компанийн үйлчилгээ болох <a href="http://www.taobaomongol.com"><strong>Taobaomongol.com</strong></a> сайтын харилцагч, үйлчлүүлэгчдийн хоорондох үйлчилгээтэй холбоотой харилцааг зохицуулна. Үйлчилгээний нөхцөлтэй танилцаж, зөвшөөрснөөр үйлчилгээтэй холбоотой харилцаанд оролцох эрх, үүрэг, хариуцлагыг зөвшөөрч байгаад тооцно.</p>
            </div> -->
        {% for term in terms %}    
          <div class="panel panel-default">
            <div class="panel-heading">{{term.title}}</div>
            <div class="panel-body" style="line-height:22px;">
               {{term.body|safe|escape}}
            </div>
          </div>
        {% endfor %}
            </div>
        </div>
    </section>
  </div>
</div>
{% endblock %}